.container {
  background-color: #e8f5e9; /* Light green background */
  padding:10px;
  border-radius: 8px; /* More rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  max-width: 400px; /* Increased width */
  margin: 0 auto; /* Center container */
  height: auto; /* Height adjusts based on content */
}

.label {
  color: #2e7d32; /* Green color for labels */
  display: block;
  margin-top: 10px;
  font-size: 16px; /* Adjusted font size */
}

.input, .sel, .butt {
  width: 100%; /* Full width within container */
  max-width: 600px; /* Limit width for better fit */
  padding: 10px;
  margin-top: 5px;
  margin-bottom:5px;
  border: 1px solid #388e3c; /* Green border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Consistent font size */
}

.input {
  font-size: 16px; /* Consistent font size */
}

.sel {
  font-size: 16px; /* Consistent font size */
}

.butt {
  background-color: #388e3c; /* Green background */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Consistent font size */
  margin-bottom: 10px;
  width: 290px;;
}

.butt:hover {
  background-color: #2e7d32; /* Darker green on hover */
}

.h2 {
  color: rgb(90, 196, 90);
  font-size: 32px; /* Adjusted font size */
  margin-bottom: 10px; /* Spacing below heading */
}
